.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  
  .nav-item {
    color: #f4f4f5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: #a78bfa; 
  }
  